.ad {
  width: 90vw;
  background-color: var(--light-gray);
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad__open-chats {
  top: 275px;
}
