.update {
  position: fixed;
  width: 90vw;
  top: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 12px;
  border-radius: 30px;
  font-size: 17px;
}

.update__open-chats {
  top: 190px;
}

.update > div {
  margin: 0 5px;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  font-weight: 500;
}

.update > div:first-child {
  background-color: var(--dark-gray);
  padding: 8px 16px;
  color: white;
  border-radius: 20px;
  position: relative;
}

.update > div:nth-child(2) {
  position: absolute;
  left: 115px;
  top: 22px;
}
