.user-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  box-sizing: border-box;
}

.user-component__column:first-child {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 80px;
  height: 80px;
  border-radius: 40%;
}

.user-component__avatar--xl {
  width: 90px;
  height: 90px;
}

.user-component__avatar--xs {
  width: 60px;
  height: 60px;
}

.user-component__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 20px;
  line-height: 30px;
}

.user-component__title {
  font-size: 20pt;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 13pt;
  color: var(--dark-gray);
}

.user-component__title--xs {
  font-size: 17pt;
  font-weight: 400;
}

.user-component__subtitle--xs {
  font-size: 12pt;
}

.user-component__subtitle--m {
  font-size: 15pt;
  font-weight: 300;
}

.user-component__column:last-child {
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-component__column__music {
  border: 2px solid var(--green);
  width: 100%;
  height: 40px;
  padding: 12px;
  border-radius: 22.5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-component__column__music span {
  width: 60%;
  height: 15px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 13pt;
}

.user-component__column__music i {
  color: var(--green);
}

.user-component__column__chats {
  line-height: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.user-component__column__chats > div:first-child {
  color: var(--gray);
  font-size: 13pt;
  font-weight: 500;
}

.user-component__column__chats > div:nth-child(2) {
  width: 28px;
  height: 28px;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-weight: 500;
  font-size: 13pt;
}

.user-component__column__chats > div:last-child span {
  padding-top: 3px;
}

.user-component-list {
  height: auto;
  overflow-y: scroll;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
  box-sizing: border-box;
}
